

.name{
    display: flex;
    /* justify-content:space-between; */
    padding: 0rem 12rem;
    width: 100%;
    min-height: 25rem;
    margin: 11.5rem 0;
}
:root{
    --text-color:#29fd53;
}
.name1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 1.9rem;
}
.name1 img{
   position: relative;
   top: -0.9rem;
   width: 30rem;
   height: 38rem;
   cursor: pointer;
   
}
.name1 img:hover{
    transform: scale(1.05);
}
.name2{
    width: 100%;
}

.name2 h1{
    letter-spacing: 3.8px;
    color: var(--text-color);
    
}

.features li{
    margin: 1rem 0;
}

.features li span{
    font-size: 20px;
    font-weight:500;
    text-decoration:underline;
    padding-bottom: 1px;
}


.btn{
    width: 8rem;
    height: 2.6rem;
    cursor: pointer;
    background-color:rgb(26 195 60);
    color: #fff;
    outline: none;
    border: #fff;
    border-radius: 9px 9px 9px 9px;
    margin: 1rem 0;
    font-size: 18px;
}

.btn:hover{
    transform: scale(1.05);
    border: .35px solid #fff;
}


@media only screen and (width >=921px) and (width <=1252px) {
    .name{
        padding: 0 2rem;
    }

    .name1 {
        /* margin-right:3rem; */
        width: 50%;
    }

    .name1 img {
        height: 23rem;
        width: 22rem;
        
    }

    #para {
        font-size: .9rem;
    }

    .name2 h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (width >=320px) and (width <=920px) {
    .name{
        display: flex;
        margin: 0rem 0 5rem 0;
        flex-direction: column;
        padding: 0 1rem;
        gap: 1.4rem;
    }
    
    .name1{
        /* justify-content: flex-end; */
        margin: 0 0 0 1.5rem;
    }
    
    .name1 img {
        height: 20rem;
        width: 16rem;
        margin-top: 1.5rem;
    }
    #para {
        font-size: .9rem !important;
    }

    .name2 h1 {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .features{
        padding: 0 .5rem;
    }
    .features li{
        font-size: .9rem;
    }
    
    .features li span{
        font-size: 18px;
    }
}
